.banner {
    width: 100%;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-size: cover;
    background-position: center;
}



.blog {
    width: 70vw;
    min-width: 400px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 50px 0;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title,
.article {
    width: 100%;
    min-height: 100px;
    height: auto;
    outline: none;
    font-size: 50px;
    font-weight: 600;
    color: #2d2d2d;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.title::placeholder,
.article::placeholder {
    color: #2d2d2d;
}




.article {
    height: 500px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 100px;
    white-space: pre-wrap;
}

.blog-options {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.btn.grey {
    background: #a5a5a5;
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
}


.sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 40px;
    margin-top: 80px;
}


.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}



.py-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.secondary-title {
    font-family: 'Poppins', sans-serif;
}

.display-1 {
    font-size: 22px;
}

.text-secondary {
    color: var(--secondary);
}

.text-dark {
    color: var(--dark);
}

.text-primary {
    color: var(--primary-color);
}

.bg-light {
    background-color: var(--light);
}

.post-footer .post-comments .reply {
    padding-left: 7em;
}

.display-2 {
    font-size: 16px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}


.mt-2 {
    margin-top: 10px;
}