<div class="content header">
    <h1 class="heading">
        <span class="small">welcome to the Practice Room </span>
    </h1>

    <a class="btn btn-outline-dark" href="/auth/login" role="button" style="text-transform:none">Login/Sign Up
    </a>


    <a class="btn btn-outline-dark" href="/auth/google" role="button" style="text-transform:none">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Login with Google
    </a>

    </header>




    <script src="/js/login.js"></script>

