<link rel="stylesheet" href="/css/home.css">
<header class="subtitle">
    <h1>Song Selector</h1>
</header>

<!-- song selector -->
<main class="container">
    <div class="d-flex justify-content-center">
        <div class="  card  songCard " style="width: 42rem;">


            <h3 class="card-title cardTitle">Sick of listening to the same music?</h3>
            <h5 class="card-text parOne">Have our song selector pick a new song just for you. </h5>
            <h5 class="card-text partwo">Just hit the button below.</h5>
            <h3 class="card-title "></h3>
            <button href="#" class="btn btn-primary songButton">Start Selecting</button>
            <div class="card-title svgDiv">

                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_pSoQ1j.json" background="transparent"
                    speed="1" style="width: 300px; height: 200px;" loop autoplay>
                </lottie-player>
            </div>
            <div class="iconDiv">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_gpcwcpoh.json"
                    background="transparent" speed="1" style="width: 300px; height: 200px;" loop autoplay>
                </lottie-player>
            </div>
            <h3 class="textInfo "></h3>

        </div>
    </div>

</main>
<!-- /Container -->

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/e211982880.js" crossorigin="anonymous"></script>

<!-- Moments.js -->
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>

<!-- Windy Map API - Leaflet Library -->
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>

<!-- Windy Map API -->
<script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>

<!-- Main js -->
<script src="/assets/app.js"></script>



<script src="/js/song.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>