<div class="container" id="byEar">
  Tune By Ear
  <div class="card col-sm-4">
    <button id="Violin">Violin/Viola</button>
    <button class="mt-1" id="Chrom">Chromatic</button>
  </div>
</div>

<!-- buttons for violin/viola tuning by ear, hidden at start -->
<div id="violinButtons">
  <div class="container">
    <div class="card col-sm-4 btn-group-vertical">
      <button class="mt-1" id="vC">C</button>
      <button class="mt-1" id="vG">G</button>
      <button class="mt-1" id="vD">D</button>
      <button class="mt-1" id="vA">A</button>
      <button class="mt-1" id="vE">E</button>
      <button class="mt-1" id="vStop">Stop</button>
    </div>
  </div>
</div>

<!-- buttons for chromatic tuning by ear, hidden at start -->
<div id="chromButtons">
  <div class="container">
    <div class="card col-sm-4 btn-group-vertical">
      <button class="mt-1" id="btnA">A</button>
      <button class="mt-1" id="btnAShrp">A#</button>
      <button class="mt-1" id="btnB">B</button>
      <button class="mt-1" id="btnC">C</button>
      <button class="mt-1" id="btnCShrp">C#</button>
      <button class="mt-1" id="btnD">D</button>
      <button class="mt-1" id="btnDShrp">D#</button>
      <button class="mt-1" id="btnE">E</button>
      <button class="mt-1" id="btnF">F</button>
      <button class="mt-1" id="btnFShrp">F#</button>
      <button class="mt-1" id="btnG">G</button>
      <button class="mt-1" id="btnGShrp">G#</button>
      <button class="mt-1" id="cStop">Stop</button>
    </div>
  </div>
</div>

<script src="/js/tuner.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>