<link rel="stylesheet" href="/css/song.css">

<div class="d-flex justify-content-center">
    <div class="card  newSongCard" style="width: 42rem;">

        <div>{{{song.url}}}</div>

        <div>{{song.name}} by {{song.artist}}</div>

        <button href="#" class="btn btn-primary continueButton">Next</button>
    </div>
</div>

<script src="/js/song.js"></script>